name: Publish

on:
  release:
    types: [ published ]

permissions:
  id-token: write
  contents: read

jobs:
  publish:
    name: Publish
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: Use Node.js 22.x
        uses: actions/setup-node@v6
        with:
          node-version: 22
          registry-url: 'https://registry.npmjs.org/'

      - name: Clear auth token for OIDC
        run: echo "NODE_AUTH_TOKEN=" >> $GITHUB_ENV

      - name: Install Dependencies
        run:
          npm install -g npm@latest
          npm ci --include=dev

      - name: Build Package
        run: npm run build

      - name: Publish Package to npm
        run: npm publish
